{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('app_task_edit', { 'id' : task.id })}) }}
            {{ form_widget(form) }}

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success mt-2" id="submit">Modifier</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
